/* Header */
.header__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
}

.logo {
    width: 8%;
}

.menu a {
    position: relative;
    margin: 0 20px;
    text-decoration: none;
    color: #333;
    padding-bottom: 4px; 
}

.menu a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background-color: #D8998D; 
    border-radius: 1px;
}

/* Main */

/* block1 */
.blok1 {
    height: 650px;
    padding-top: 18%;
    position: relative;
    text-align: center;
}

.balance {
    position: absolute;
    width: 34%;
    top: 48%;
    left: 23%;
    transform: translateX(-50%);
    z-index: 1;
}

.floral-Balance {
    position: absolute;
    width: 15%;
    top: 32%;
    left: 24%;
    transform: translateX(-50%);
    z-index: 2;
}

.balance-bottom {
    position: absolute;
    width: 16%;
    top: 62%;
    right: 59%;
    z-index: 2;
}

.block1-text{
    position: absolute;
    width: 15%;
    top: 92%;
    transform: translateX(-50%);
    right: 69%;
}

.block1-bnt {
    position: absolute;
    width: 19%;
    top: 110%;
    transform: translateX(-50%);
    right: 63%;
    cursor: pointer;
}

.yogaWoman {
    position: absolute;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.floral-studio {
    position: absolute;
    width: 8%;
    top: 62%;
    right: 13%;
    transform: translateX(50%);
    z-index: 2; 
}

.studio {
    position: absolute;
    width: 27%;
    top: 81%;
    right: 18%;
    transform: translateX(50%);
    z-index: 1; 
}

.studio-bottom {
    position: absolute;
    width: 15%;
    top: 102%;
    right: 13%;
    transform: translateX(50%);
    z-index: 2;
}

/* block2 */
.block2 {
    margin-top: 28%;
    padding: 80px 5%;
    box-sizing: border-box;
    color: #4E5158;
    font-family: "Montserrat", sans-serif;
    position: relative;
}


.block2-content {
    margin-top: 100px;
    display: flex;
    align-items: center; 
}

.block2-left {
    flex: 1;
    display: flex;
    position: relative;
}

.pink-top {
    position: absolute;
    top: -280px;
    left: -90px;
    max-width: 300px;
    z-index: 2;
}

.floral-top{
    position: absolute;
    top: -250px;
    left: -99px;
    max-width: 120px;
    z-index: 0;
}

.yogaWoman2 {
    position: absolute;
    top: -200px;
    right: 120px;
    max-width: 650px; 
    z-index: 1;
}

.pink-bottom {
    position: absolute;
    top: 130px;
    right: 50px;
    max-width: 300px;
    z-index: 2;
}

.floral-bottom {
    position: absolute;
    top: 150px;
    right: 120px;
    max-width: 140px;
    z-index: 2;
}

.block2-right {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.6;
}


.block2-right b {
    font-weight: 400;
}

.about-link {
    color: #D8998D;
    margin-top: 70px;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
}


/* block3 */
.block3 {
    margin-top: 10%;
    box-sizing: border-box;
    color: #4E5158;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.block3-btn {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.block3-btn button {
    padding: 25px;
    border: 2px solid #F1C9C4; 
    background-color: transparent;
    color: #4E5158; 
    font-size: 23px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    flex-basis: 100%; 
    text-align: center; 
    max-width: 450px; 
}

.block3-btn button:hover {
    background-color: #F1C9C4; 
}

.block3-content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: start; 
    font-weight: 300;
}

.block3-content div img{
    margin-top: 60px;
    flex-basis: 100%; 
    max-width: 450px; 
}

.block3-content span {
    font-weight: 300;
    font-size: 25px; 
}

.block3-content p {
    font-size: 23px;
    font-weight: 200;
    line-height: 1.6;
}


/* block4 */
.block4 {
    margin-top: 10%;
    box-sizing: border-box;
    color: #4E5158;
    font-family: "Montserrat", sans-serif;
    position: relative;
}

.block4-content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
}

.block4-content div {
    position: relative;
    z-index: 1;
    height: 55vh;
    border: 1px solid #4E5158;
    padding: 60px;
    flex-basis: 100%; 
    max-width: 400px; 
    text-align: center;
    font-weight: 300;
    transition: transform 0.3s ease;
}

.floral-center {
    position: absolute;
    max-width: 110px;
    transform: rotate(-60deg);
    top: 35%;
    right: 35%;
    z-index: 2;
}

.floral-left {
    position: absolute;
    max-width: 95px;
    top: 72%;
    left: 3%;
    transform: scaleX(-1);
    z-index: 2;
}

.floral-right {
    position: absolute;
    max-width: 95px;
    top: 72%;
    right: 3%;
    z-index: 2;
}

.block4-content span {
    font-weight: 200;
    font-size: 30px; 
}

.block4-content p {
    font-size: 25px;
    font-weight: 200;
    line-height: 1.6;
}

.block4-content b {
    font-weight: 300;
    font-size: 30px; 
}

.block4-content div:hover {
    background-color: #F1C9C4; 
    transform: scale(1.05)
}

.block4-content button {
    padding: 20px 40px;
    border: 1px solid #4E5158; 
    background-color: transparent;
    color: #4E5158; 
    font-size: 25px; 
    cursor: pointer;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

.block4-content button:hover {
    background-color: #fff; 
}

.bottom-btn {
    display: block; 
    margin: 70px auto 0; 
    cursor: pointer;
    margin-bottom: 200px;
}

/* block5 */
.block5 {
    position: relative;
}

.block5-content {
    height: 50vw;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: flex-start;
}


.block5-content img {
    max-width: 350px;
    position: relative; 
}

.first-foto,
.third-foto {
    align-self: flex-start;
}

.second-foto {
    margin-top: 10%; 
}

.btn-left {
    position: absolute;
    left: 2%; 
    top: 50%; 
    transform: translateY(-50%);
    max-width: 70px; 
    cursor: pointer;

}

.btn-right {
    position: absolute;
    right: 2%; 
    top: 50%;
    transform: translateY(-50%);
    max-width: 70px;
    cursor: pointer;

}

/* block6 */
.block6 {
    position: relative;
    margin: 100px auto;
    border: 3px solid #F1C9C4; 
    padding: 100px;
    max-width: 1400px;
    box-sizing: border-box;
    text-align: center; 
}

.block6 .sub-header-text {
    font-size: 40px;
    margin-bottom: 40px;
    font-weight: 400;
}

.block6-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 20px; 
}

.irina-foto {
    max-width: 120px;
    height: auto;
    margin-top: 20px;
}

.review-text p {
    margin: 5px 0;
    font-size: 23px;
    font-weight: 300;
    color: #4E5158;
}


.block6 .btn-left {
    left: 5%;
}


.block6 .btn-right {
    right: 5%;
}


/* block7 */
.block7 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    max-width: 1300px;
    margin: 250px auto;
    position: relative;
}

.left-content {
    width: 50%;
    position: relative;
}

.brush-left {
    position: absolute;
    top: 15px;
    left: -5%;
    width: 240px;
    z-index: -1;
}

.form-title {
    font-size: 32px;
    font-weight: 300;
    color: #333;
    line-height: 1.2;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form input {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #4E5158;
    font-size: 18px;
    outline: none;
}

.checkbox-container {
    font-size: 12px;
    margin-top: 10px;
}

.form-button {
    margin-top: 20px;
    cursor: pointer;
    max-width: 250px;
}

.right-content {
    width: 50%;
    position: relative;
}

.yoga-ledies {
    max-width: 500px;
    display: block;
}

.brush-top {
    position: absolute;
    top: -10%;
    right: -10%;
    max-width: 300px;
}

.flower-top {
    position: absolute;
    transform: rotate(-90deg);
    top: -5%;
    right: 2%;
    max-width: 130px;
}

.brush-bottom {
    position: absolute;
    transform: rotate(180deg);
    bottom: -10%;
    left: -20%;
    max-width: 300px;
    z-index: 1;

}

.flower-bottom {
    position: absolute;
    transform: rotate(-20deg);
    bottom: -7%;
    left: -8%;
    max-width: 110px;
    z-index: 0;
}

/* footer */
.footer {
    position: relative;
    height: 23vw;
    background-color: #F1C9C4;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: #4E5158;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;

}

.footer-start {
    text-align: center;
    line-height: 1.8; 
}

.footer-center {
    text-align: center;
    line-height: 1.5; 
}

.footer-end {
    text-align: start;
    line-height: 2; 
}


footer ul li {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    color: #4E5158;
}

footer a:hover {
    text-decoration: underline;
}

.footer-bottom {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
}

.flower1 {
    width: 120px;
    position: absolute;
    left: 0;
    bottom: 2%;
}

.dots1 {
    width: 100px;
    transform: rotate(200deg);
    position: absolute;
    left: 35%;
    bottom: 40%;
}

.flower2 {
    width: 130px;
    position: absolute;
    right: 30%;
    bottom: 30%;
}

.dots2 {
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
}
